@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    @apply text-black;
  }

  p {
    @apply py-1
  }
  h1 {
    @apply mt-24 text-4xl mx-auto
  }

  h2 {
    @apply mt-5 text-3xl
  }

  h3 {
    @apply mt-5 text-2xl

  }
  h4 {
    @apply mt-5 text-xl

  }
  a {
    @apply text-color
  }

  ul {
    @apply list-decimal list-inside ml-5
  }

  .bg-color {
    @apply bg-violet-900
  }

  .text-color {
    @apply text-violet-900
  }

  .alt-text-color {
    @apply text-yellow-300
  }

  .underline-color {
    @apply decoration-violet-900
  }

  .border-color {
    @apply border-violet-900
  }

  .lg-navElements {
      @apply py-2 px-4 font-semibold text-black hover:bg-color hover:alt-text-color
    }

  .sm-navElements {
      @apply p-5 text-4xl text-white font-semibold hover:bg-color
    }

  .neu-shadow {
    box-shadow: 15px 15px black;
    @apply border-[3px] border-black 
  }

  .neu{
    @apply border-[3px] border-black 
  }

  .neu-shadow-sm {
    box-shadow: 5px 5px black;
    @apply border-2 border-black rounded
  }

  .btn {
    @apply hover:bg-color hover:text-white bg-black text-white px-10 py-2 rounded-sm
  }

  .btn-primary {
    @apply bg-color text-white hover:alt-text-color hover:bg-black px-5 py-1
  }

  .text-purple-bg {
    @apply text-color text-lg font-semibold
  }

  .text-purple-sm {
    @apply text-color
  }
}