@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        font-family: 'Oswald', sans-serif;
        @apply text-black;
      }
    .lg-navElements {
      @apply py-2 px-4 font-semibold text-black hover:bg-purple-800 hover:text-yellow-300 
    }
  
    .sm-navElements {
      @apply p-5 text-4xl text-white font-semibold hover:bg-purple-800
    }

    .neu-shadow {
      box-shadow: 15px 15px black;
      @apply border-[3px] border-black rounded
    }

    .neu-shadow-sm {
      box-shadow: 5px 5px black;
      @apply border-2 border-black rounded-lg
    }

    .bg-color {
      @apply bg-purple-900
    }

    .underline-color {
      @apply decoration-purple-800
    }

    .btn {
      @apply hover:bg-color hover:text-white hover:border-purple-900 bg-white text-black px-10 py-1 rounded-sm border-4 border-black
    }
  
}